body {
    background-color: #0cb30f;
    color: black;
    font-family: Helveticalalala;
    font-size: 22px;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 30px
    color: black;
    text-align: center;
    background-color: none;
    text-decoration: none;
}

README.md {
    font-size: 18px
}
